@font-face {
  font-family: 'ClashDisplay';
  src: url('/fonts/ClashDisplay-Bold.otf') format('otf'),
       url('/fonts/ClashDisplay-Extralight.otf') format('otf'),
       url('/fonts/ClashDisplay-Light.otf') format('otf'),
       url('/fonts/ClashDisplay-Medium.otf') format('otf'),
       url('/fonts/ClashDisplay-Regular.otf') format('otf'),
       url('/fonts/ClashDisplay-Semibold.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

/* Apply the font to elements */
body {
  font-family: 'ClashDisplay', sans-serif;
}


.hover-link {
  position: relative;
  display: flex;
  text-wrap: nowrap;
  overflow: hidden;
}
.hover-in {
  position: relative;
  transition: 0.3s;
}
.hover-in div {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
}
.hover-link:hover .hover-in {
  transform: translateY(-100%);
  color: var(--accentColor);
}
